apiVersion: v2
name: paperless
description: 'A community-supported supercharged version of paperless: scan, index and archive all your physical documents'
icon: https://raw.githubusercontent.com/paperless-ngx/paperless-ngx/b948750d558b58018d1d3393db145d162d44fceb/src-ui/src/assets/logo-notext.svg
type: application
version: 0.18.0
# renovate datasource=docker depName=ghcr.io/paperless-ngx/paperless-ngx
appVersion: 2.20.3
kubeVersion: '>=1.22.0-0'
keywords:
  - documents
  - ocr
  - paper
dependencies:
  - name: postgresql
    version: 16.7.27
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
  - name: redis
    repository: https://charts.bitnami.com/bitnami
    version: 24.1.8
    condition: redis.enabled
sources:
  - https://github.com/paperless-ngx/paperless-ngx
